.new-collection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.new-collection h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.new-collection hr{
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background-color: #252525;
}
.new-collection-item{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 20px;
    padding-bottom: 50px;
}